<h3>Syllabus</h3>
<hr>
<h4>Description</h4>
You learn about the basic principles of C++ in CS 1570 and then you come to CS 1580 to get additional practice.<br>
<strong>Note: If you are not enrolled in CS 1570, you cannot be enrolled in CS 1580.</strong>

<h4>Sections</h4>
<table class="table table-condensed table-bordered text-center">
  <thead>
    <tr class="active">
      <th class="text-center">B</th>
      <th class="text-center">D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tuesday 12:00 PM - 2:00 PM</td>
      <td>Tuesday 6:00 PM - 8:00 PM</td>
    </tr>
    <tr>
      <td colspan="2">Toomey 251</td>
    </tr>
  </tbody>
</table>

<h4>Attendance</h4>
<p>
  Unless excused, missing a lab session will result in a grade of 0 for that day's assignment.
  Excused absences must be verified prior to the start of the class - email is recommended.
  Three or more unexcused absences will result in being dropped from the class.
</p>

<h4>Assignments</h4>
<p>
  Each assignment will be graded as follows:
</p>
<table class="table table-condensed table-bordered">
  <thead>
    <tr class="active">
      <th></th>
      <th class="col-xs-3">Correctness</th>
      <th class="col-xs-3">Compilation</th>
      <th class="col-xs-3">Style</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="active text-right">Definition</td>
      <td>Your code performs the appropriate operations to achieve the intended results.</td>
      <td>Your code compiles successfully without warnings.</td>
      <td>Your code adheres to the
        <a href="http://web.mst.edu/~cpp/cpp_coding_standard_v1_1.pdf" target="_blank">
          established style guidelines <i class="fa fa-external-link"></i>
        </a>.
      </td>
    </tr>
    <tr>
      <td class="active text-right">Weight</td>
      <td>40%</td>
      <td>30%</td>
      <td>30%</td>
    </tr>
    <tr>
      <td class="active text-right">How to Avoid</td>
      <td>
        Carefully follow the instructions in the assignment;
        don't be afraid to ask questions;
        attend your CS 1570 class.
      </td>
      <td>Write your code incrementally by compiling often.</td>
      <td>Read through your code once you're done; have another person in lab (who has time) review your code.</td>
    </tr>
  </tbody>
</table>
<p>
  Grades will be posted to Blackboard.
  Specific submission and compilation instructions will be provided with each assignment.
</p>
<div class="alert alert-warning">
  <p><strong><i class="fa fa-exclamation-triangle"></i> Warning!</strong></p>
  <p>Each assignment must be completed before the end of the lab session unless otherwise specified.</p>
  <p>Failing to submit your assignment properly will result in a 20 point reduction (20% of total points possible) of that assignment's final grade.</p>
</div>

<h4>Academic Dishonesty</h4>
<p>
  Every student enrolled in this course is expected to be familiar with, and adhere to, Missouri S&amp;T's
  <a href="http://registrar.mst.edu/academicregs/">Student Academic Regulations</a>.
  Academic Dishonesty such as cheating, plagiarism, and sabotage will typically result in zero grades
  for the respective assignment, and notifications to the student's advisor, department chair, and the
  campus undergraduate studies office.
  Further academic sanctions may be imposed as well in accordance with the regulations.
</p>

<h4>Disabilities &amp; Accessibility</h4>
<p>
  If you have a documented disability and anticipate needing accommodations in this course, you
  are strongly encouraged to meet with the instructor as early as possible in the semester.
  You will need to request that the Disability Support Services staff send a letter to the instructor verifying
  your disability and specifying the accommodation you will need before the instructor can arrange
  your accommodation.
</p>
<p>
  <address>
    <strong>Disability Support Services</strong><br>
    204 Norwood Hall<br>
    <abbr title="Phone">P:</abbr> <a href="tel:574-341-4211">(573) 341-4211</a> <br>
    <abbr title="Email">E:</abbr> <a href="mailto:dss@mst.edu">dss@mst.edu</a>
  </address>
</p>
<div class="panel panel-default">
  <div class="panel-body">
    <strong><i class="fa fa-eye fa-lg"></i> Visibility</strong> <br>
    Sometimes it can be hard to see things inside the PuTTY terminal because of the color scheme.
    If you're having some trouble, following these steps may help:
    <ol>
      <li>Open PuTTY and connect to a session (enter your credentials if or when asked)</li>
      <li>Right-click on PuTTY logo in the upper left-hand corner of the window</li>
      <li>Select <code>Change Settings...</code></li>
      <li>Under the <code>Window</code> category, select <code>Colours</code></li>
      <li>Check the box <code>User system colours</code></li>
      <li>Click <code>Apply</code> at the bottom of the window</li>
      <li>Done</li>
    </ol>
  </div>
</div>

<h4>Campus Egress Maps</h4>
<p>
  In the event of an emergency, you should be aware of the campus
  <a href="http://designconstruction.mst.edu/floorplan/">egress routes</a>.
  You're encouraged to review the link and be aware of the emergency exit signs near their classrooms.
</p>
