<h4><i class="fa fa-fw fa-flask"></i> Labs</h4>
<div class="panel panel-default">
  <div class="list-group">
    <a href="{{site.baseurl}}/cs1580/lab01" class="list-group-item {% if page.title == "Lab 1" %}active{% endif %}">
      Lab 1 <small class="pull-right">08/25/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab02" class="list-group-item {% if page.title == "Lab 2" %}active{% endif %}">
      Lab 2 <small class="pull-right">09/01/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab03" class="list-group-item {% if page.title == "Lab 3" %}active{% endif %}">
      Lab 3 <small class="pull-right">09/08/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab04" class="list-group-item {% if page.title == "Lab 4" %}active{% endif %}">
      Lab 4 <small class="pull-right">09/15/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab05" class="list-group-item {% if page.title == "Lab 5" %}active{% endif %}">
      Lab 5 <small class="pull-right">09/22/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab06" class="list-group-item {% if page.title == "Lab 6" %}active{% endif %}">
      Lab 6 <small class="pull-right">09/29/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab07" class="list-group-item {% if page.title == "Lab 7" %}active{% endif %}">
      Lab 7 <small class="pull-right">10/06/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab08" class="list-group-item {% if page.title == "Lab 8" %}active{% endif %}">
      Lab 8 <small class="pull-right">10/13/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab09" class="list-group-item {% if page.title == "Lab 9" %}active{% endif %}">
      Lab 9 <small class="pull-right">10/20/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab10" class="list-group-item {% if page.title == "Lab 10" %}active{% endif %}">
      Lab 10 <small class="pull-right">10/27/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab11" class="list-group-item {% if page.title == "Lab 11" %}active{% endif %}">
      Lab 11 <small class="pull-right">11/03/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab12" class="list-group-item {% if page.title == "Lab 12" %}active{% endif %}">
      Lab 12 <small class="pull-right">11/10/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab13" class="list-group-item {% if page.title == "Lab 13" %}active{% endif %}">
      Lab 13 <small class="pull-right">11/17/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab14" class="list-group-item {% if page.title == "Lab 14" %}active{% endif %}">
      Lab 14 <small class="pull-right">12/01/2015</small>
    </a>
    <a href="{{site.baseurl}}/cs1580/lab15" class="list-group-item {% if page.title == "Lab 15" %}active{% endif %}">
      Lab 15 <small class="pull-right">12/08/2015</small>
    </a>
  </div>
</div>

<h4><i class="fa fa-fw fa-terminal"></i> Unix Commands</h4>
<div class="panel panel-default">
  <ul class="list-group">
    <li class="list-group-item">
      <small>Print Working Directory</small>
      <code class="pull-right"><small>pwd</small></code>
    </li>
    <li class="list-group-item">
      <small>List Directory Contents</small>
      <code class="pull-right"><small>ls</small></code>
    </li>
    <li class="list-group-item">
      <small>Clear Console</small>
      <code class="pull-right"><small>clear</small></code>
    </li>
    <li class="list-group-item">
      <small>Go to previous command</small>
      <small class="pull-right"><i class="fa fa-long-arrow-up"></i> Key</small>
    </li>
    <li class="list-group-item">
      <small>Autocomplete</small>
      <small class="pull-right"><strong>TAB</strong> Key</small>
    </li>
    <li class="list-group-item">
      <small>Go into Sub-directory<sup>[1]</sup></small>
      <code class="pull-right"><small>cd "name"</small></code>
    </li>
    <li class="list-group-item">
      <small>Go up 1 Directory</small>
      <code class="pull-right"><small>cd ..</small></code>
    </li>
    <li class="list-group-item">
      <small>Go up 2 Directories</small>
      <code class="pull-right"><small>cd ../..</small></code>
    </li>
    <li class="list-group-item">
      <small>Go to Home Directory</small>
      <code class="pull-right"><small>cd ~</small></code>
    </li>
    <li class="list-group-item">
      <small>Create Directory<sup>[1]</sup></small>
      <code class="pull-right"><small>mkdir "name"</small></code>
    </li>
    <li class="list-group-item">
      <small>Delete Directory<sup>[1]</sup><sup>[2]</sup></small>
      <code class="pull-right"><small>rmdir "name"</small></code>
    </li>
    <li class="list-group-item">
      <small>Delete File<sup>[1]</sup><sup>[2]</sup></small>
      <code class="pull-right"><small>rm "name"</small></code>
    </li>
    <li class="list-group-item list-group-item-primary">
      <small><sup>[1]</sup> Quotes can be ommitted when not using spaces</small> <br>
      <small><sup>[2]</sup> Deletions are irreversible</small>
    </li>
    <a class="list-group-item" href="http://it.mst.edu/services/linux/unix-linux-commands/"
       target="_blank">
      <small>More Commands <i class="fa fa-external-link pull-right"></i></small>
    </a>
  </ul>
</div>

<h4><i class="fa fa-fw fa-keyboard-o"></i> jpico Commands</h4>
<div class="panel panel-default">
  <ul class="list-group">
    <li class="list-group-item">
      <small>Save</small>
      <code class="pull-right"><small>CTRL+O</small></code>
    </li>
    <li class="list-group-item">
      <small>Exit</small>
      <code class="pull-right"><small>CTRL+X</small></code>
    </li>
    <li class="list-group-item">
      <small>Cut Current Line</small>
      <code class="pull-right"><small>CTRL+K</small></code>
    </li>
    <li class="list-group-item">
      <small>Paste</small>
      <code class="pull-right"><small>right-click</small></code>
    </li>
    <li class="list-group-item">
      <small>Undo</small>
      <code class="pull-right"><small>ESC+-</small></code>
    </li>
    <li class="list-group-item">
      <small>Redo</small>
      <code class="pull-right"><small>CTRL+=</small></code>
    </li>
  </ul>
</div>

<h4><i class="fa fa-fw fa-male"></i> Instructor</h4>
<div class="panel panel-default">
  <div class="panel-body">
    <strong>Ty Morrow</strong><br>
    <i class="fa fa-fw fa-envelope"></i>
    <small><a href="mailto:{{site.email}}">{{site.email}}</a></small><br>
    <i class="fa fa-fw fa-map-marker"></i> <small>208 Computer Science</small>
  </div>
</div>

<h4><i class="fa fa-fw fa-life-ring"></i> Helpful Links</h4>
<div class="panel panel-default">
  <div class="list-group">
    <a href="https://sites.google.com/a/mst.edu/price/courses/cs-1570" target="_blank" class="list-group-item">
      CS 1570 <i class="pull-right fa fa-external-link"></i>
    </a>
    <a href="http://classes.mst.edu/compsci1570/" target="_blank" class="list-group-item">
      C++ Online Course/Docs <i class="pull-right fa fa-external-link"></i>
    </a>
  </div>
</div>

<h4><i class="fa fa-fw fa-globe"></i> Exploration</h4>
<div class="panel panel-default">
  <div class="panel-heading"><strong>Editors</strong></div>
  <div class="list-group">
    <div class="list-group-item">
      jpico
    </div>
    <div class="list-group-item">
      Notepad++
    </div>
    <div class="list-group-item">
      vim
    </div>
    <div class="list-group-item">
      emacs
    </div>
  </div>
  <div class="panel-heading"><strong>Compilers</strong></div>
  <div class="list-group">
    <div class="list-group-item">
      GCC (fg++)
    </div>
    <div class="list-group-item">
      Clang (clang++)
    </div>
  </div>
</div>
