<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="{{site.title}}">

<title>{{ page.title }}</title>
<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/img/mst-favicon.png"/>
<link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/pygments.css" rel="stylesheet">
<script type="text/javascript"
  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<style>
  code{
    font-family: "Lucida Console";
  }
</style>
