<nav class="navbar navbar-fixed-top navbar-default" id="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="{{site.baseurl}}/" class="navbar-brand">Tyler Morrow</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{}}/cs1580/">CS 1580</a></li>
                <li><a href="{{}}/publications/">Publications</a></li>
                <li><a href="{{}}/about/">About</a></li>
                <li>
                  <a href="https://github.com/tymorrow/" target="_blank"
                     style="margin-right: 5px;">
                    <i class="fa fa-lg fa-fw fa-github"></i>
                  </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
