<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body style="margin-top:75px;margin-bottom:150px;font-family: 'Open Sans', sans-serif;">
    {% include nav.html %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2><a href="{{site.baseurl}}/cs1580">CS 1580</a> <small>Fall 2015</small></h2>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-md-9">
          {% include cs1580syllabus.html %}
        </div>
        <div class="col-sm-4 col-md-3">
          {% include cs1580sidepanel.html %}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
