<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body style="margin-top:75px;font-family: 'Open Sans', sans-serif;">
    {% include nav.html %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="pull-left media-object">
              <img src="img/Me.png" height="150" alt="Profile Picture" class="img-circle">
            </div>
            <div class="media-body" style="padding-left:15px">
              <h1 class="media-heading">Tyler Morrow</h1>
              <h5>PhD Student in Computer Science</h5>
              <h5>Missouri University of Science &amp; Technology</h5>
              <h5>
                <i class="fa fa-envelope-o"></i>
                <a href="mailto:tyler.morrow@mst.edu" target="_blank">tyler.morrow@mst.edu</a>
              </h5>
            </div>
          </div>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
          <a href="{{}}/cs1580/" style="text-decoration: none">
            <div class="panel panel-default">
              <h4>CS 1580</h4>
              <i class="fa fa-laptop" style="font-size: 10em"></i>
              <h6>Click to go to course page</h6>
            </div>
          </a>
        </div>
        <div class="col-sm-4 text-center">
          <a href="{{}}/publications/" style="text-decoration: none">
            <div class="panel panel-default">
              <h4>Publications</h4>
              <i class="fa fa-university" style="font-size: 10em"></i>
              <h6>Click to go to publications page</h6>
            </div>
          </a>
        </div>
        <div class="col-sm-4 text-center">
          <a href="{{}}/about/" style="text-decoration: none">
            <div class="panel panel-default">
              <h4>About</h4>
              <i class="fa fa-user" style="font-size: 10em"></i>
              <h6>Click to go to about page</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% include footer.html %}
</body>
</html>
