<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body style="font-family: 'Open Sans', sans-serif;">
    {% include nav.html %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="pull-left media-object">
              <img src="{{site.baseurl}}/img/me.jpeg" height="150" alt="Profile Picture" class="img-circle">
            </div>
            <div class="media-body" style="padding-left:15px">
              <h1 class="media-heading">{{site.title}}</h1>
              <h5>MS Student in Computer Science</h5>
              <h5>Missouri University of Science &amp; Technology</h5>
              <h5>
                <i class="fa fa-envelope-o"></i>
                <a href="mailto:{{site.email}}" target="_blank">{{site.email}}</a>
              </h5>
            </div>
          </div>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-4 text-center">
          <a href="http://cpl.mwisely.xyz/" style="text-decoration: none">
            <div class="panel panel-default">
              <h4>Contemporary Programming Languages</h4>
              <i class="" style="font-size: 7em">CPL</i>
              <h6>CS 2001 - Spring 2016</h6>
            </div>
          </a>
        </div>
        <div class="col-sm-4 text-center">
          <a href="{{site.baseurl}}/cs1580/" style="text-decoration: none">
            <div class="panel panel-default">
              <h4>Intro to C++ Programming Lab</h4>
              <i class="" style="font-size: 7em">C++</i>
              <h6>CS 1580 - Fall 2015</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% include footer.html %}
</body>
</html>
